.filter {
    position: absolute;
    display: inline;
    left: 250px;
    top: 15px;
    border-radius: 9px;
    width: 150px;
    height: 220px;
    margin-right: 2.4rem;
    margin-bottom: 3rem;
    font-size: 15px;
    font-weight: bold;
    
}

.sorting{
    position: absolute;
    top: 15px;
    left: 450px;
    font-size: 15px;
}