.login {
    position: absolute;
    top: 20px;
    right: 0px;
    background: #93bcc8;
    flex-direction: row;
    border-radius: 9px;
    width: 180px;
    height: 170px;
    margin-right: 2.4rem;
    margin-bottom: 3rem;
    font-size: 10px;
    font-weight: bold;
}

.posts {
    flex-wrap: wrap;
    padding: 10px 3px 10px 10px;
    display: flex;
    row-gap: 20px;
    flex-direction: row;
}

.label {
    color: black;
    padding: 1rem;
}

.submit-button {
    background-color: #8E916D;
    color: white;
    margin: 3rem;
}





