.button .login{
    position: relative;
    left: 45%;
    top: 20%;
    width: 80px;
    height: 40px;
    margin: 10px 10px;
    background-color: #93bcc8;
    color: white;
}

.button .login:hover{
    background-color: #194B49;
}

