/*.filter {*/
/*    position: absolute;*/
/*    display: inline;*/

/*    left: 500px;*/
/*    top: 47px;*/
/*    border-radius: 9px;*/
/*    margin-right: 2.4rem;*/
/*    margin-bottom: 3rem;*/
/*    font-size: 12px;*/
/*}*/

/*.sorting{*/
/*    // position: absolute;*/
/*    display: inline;*/
/*    top: 67px;*/
/*    left: 700px;*/
/*    font-size: 12px;*/
/*}*/
